<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Speech Analysis App{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    {% endblock %}
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/static/img/logo.png" alt="App Logo" class="logo">
            <span class="app-name">AI Voice Acting Evaluator</span>
        </div>

        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="{{ url_for('home') }}">Main Page</a></li>
                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer>
        {% if current_user.is_authenticated %}
        <p>You are logged in. <a href="/logout">Logout</a></p>
        {% else %}
        <p>You are not logged in. <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Sign Up</a>.</p>
        {% endif %}
    </footer>
    
    <script src="/static/js/toast.js"></script>
</body>
</html>
