<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}
    <h1>Speech Emotion Classification</h1>

    <form id="uploadForm" enctype="multipart/form-data">
        <!-- File Upload Option -->
        <label for="audio">Select an audio file:</label><br><br>
        <input type="file" id="audio" name="audio" accept="audio/*"><br><br>
        <button type="submit">Upload and Classify</button>
    </form>

    <!-- Voice Recording Option -->
    <h3>Or Record Your Voice:</h3>
    <button id="recordButton">Start Recording</button>
    <button id="stopButton" style="display: none;">Stop Recording</button>
    <audio id="recordedAudio" controls style="display: none;"></audio>
    <button id="classifyRecording" style="display: none;">Classify Recording</button>

    <!-- Fullscreen Loading Spinner -->
    <div id="spinner">
        <img src="/static/img/loading.gif" alt="Loading...">
    </div>

    <!-- Result Block -->
    <div id="result"></div>

    

    <script src="/static/js/scripts.js"></script>

    <div id="pastResults">
        <h2>Past Emotion Detections</h2>
        <div style="overflow-y: scroll; max-height: 300px;">
            <table border="1" style="width: 100%; text-align: left;">
                <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Audio</th>
                        <th>Emotion</th>
                        <th>Pleasure</th>
                        <th>Arousal</th>
                        <th>Dominance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.created_at }}</td>
                        <td>
                            <audio controls>
                                <source src="{{ url_for('static', filename='uploads/' + result.user_id | string + '_' + result.audio_file_name) }}" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                        </td>
                        <td>{{ result.emotion }}</td>
                        <td>{{ result.pleasure | round(3) }}</td>
                        <td>{{ result.arousal | round(3) }}</td>
                        <td>{{ result.dominance | round(3) }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
</html>
