<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}

    
    <!-- <body> -->
    <!-- <header>
        <img src="/static/img/logo.png" alt="App Logo" style="width: 150px;">
    </header> -->
    <h1>Emphasis Detection</h1>

    <!-- File Upload Option -->
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="audio">Select an audio file:</label><br><br>
        <input type="file" id="audio" name="audio" accept="audio/*"><br><br>
        <label for="numWords">Number of emphasized words to detect:</label><br>
        <input type="number" id="numWords" name="numWords" min="1" value="1"><br><br>
        <button type="submit">Upload and Detect Emphasis</button>
    </form>

    <!-- Voice Recording Option -->
    <h3>Or Record Your Voice:</h3>
    <button id="recordButton">Start Recording</button>
    <button id="stopButton" style="display: none;">Stop Recording</button>
    <audio id="recordedAudio" controls style="display: none;"></audio>
    <button id="detectEmphasisRecording" style="display: none;">Detect Emphasis in Recording</button>

    <!-- Fullscreen Loading Spinner -->
    <div id="spinner" style="display: none;">
        <img src="/static/img/loading.gif" alt="Loading...">
    </div>

    <!-- Result Block -->
    <div id="result"></div>

    

    <script src="/static/js/emphasis.js"></script>

    <div id="pastResults">
        <h2>Past Emphasis Detections</h2>
        <div style="overflow-y: scroll; max-height: 300px;">
            <table border="1" style="width: 100%; text-align: left;">
                <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Audio</th>
                        <th>Emphasized Words</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.created_at }}</td>
                        <td>
                            <audio controls>
                                <source src="{{ url_for('static', filename='uploads/' + result.user_id | string + '_' + result.audio_file_name) }}" type="audio/wav">
                                Your browser does not support the audio element.
                            </audio>
                        </td>
                        <td>{{ result.emphasized_words.replace(',', ', ') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

    </body>



{% endblock %}

</html>
