<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}
    <h1>Speech Analysis Application</h1>
    <div class="button-container">
        <button id="emotionDetectionBtn">Emotion Detection</button>
        <button id="slidingScaleBtn">Sliding Scale Variations</button>
        <button id="emphasisBtn">Emphasis</button>
    </div>

    <script>
        // Add navigation functionality for buttons
        document.getElementById("emotionDetectionBtn").addEventListener("click", () => {
            window.location.href = "/emotion-detection";
        });

        document.getElementById("slidingScaleBtn").addEventListener("click", () => {
            window.location.href = "/classify-sliding-scale";
        });

        document.getElementById("emphasisBtn").addEventListener("click", () => {
            window.location.href = "/emphasis-detection"; // Navigate to the Emphasis Detection page
        });
    </script>
{% endblock %}
</html>
