<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
<section class="description-section">

    <!-- <tbody id="results-body">
         Rows populated dynamically via JavaScript
    </tbody> -->
    <!-- Add the table element with tbody inside it -->
    <div class="tableFixHead">
        <table>
          <thead>
            <th class="fixed">Rank</th>
            <th class="fixed">User</th>
            <th class="fixed">Emotion Score</th>
            <th class="fixed">Emphasis Score</th>
            <th class="fixed">Sliding Game Score</th>
            <th class="fixed">Overall Score</th>
            <th class="fixed">Created At</th>
          </thead>
          <tbody id="results-body">
            <!-- Rows populated dynamically via JavaScript -->
          </tbody>
        </table>
      </div>

</section>
<script src="/static/js/leaderboard.js"></script>
{% endblock %}
