<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}

    <!-- Home Page Content -->
    <div id="home" class="home-content">
        <!-- Welcome Section -->
        
            <h1> <strong>AiCT</strong></h1>
            
            <p>Craft Your Voice, Master the Art. </p>
        
    </div>
        

        <!-- Action Buttons Section -->
        <section class="action-buttons">
            <a href="{{ url_for('play_mode') }}" class="main-button">Play</a>
            <a href="{{ url_for('old_main_page') }}" class="main-button">Explore</a>
        </section>

        <!-- Leaderboard Section -->
        <section class="leaderboard-section">
            <h2>Leaderboard</h2>
            <div class="tableFixHead" style="max-height: 350px;">
                <table>
                    <thead>
                        <th class="fixed">Rank</th>
                        <th class="fixed">User</th>
                        <th class="fixed">Emotion Score</th>
                        <th class="fixed">Emphasis Score</th>
                        <th class="fixed">Sliding Game Score</th>
                        <th class="fixed">Overall Score</th>
                        <th class="fixed">Created At</th>
                    </thead>
                    <tbody id="results-body">
                    </tbody>
                </table>
            </div>
        </section>


    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/leaderboard.js"></script>

{% endblock %}

</html>
